<!DOCTYPE html>
<head>

    <title>Killa Meter Klothes</title>

<!--Style Sheets-->
    
    <link rel="stylesheet" href="/stylesheets/Hero.css">
    <link rel="stylesheet" href="/stylesheets/globals.css">

</head>

<body>
    
  <section id="hero">
    <div class="container">
      <div class="info">
        <h1 class="hero_heading1" class="tab"><img src="/Users/jeremiahhhh/Downloads/KillaMeterKlothing - Copy 3/Images/autri-taheri-6h9scTr00Ls-unsplash.jpg"> </h1>
        <h1 class="hero_heading2" class="tab">Meter</h1>
      </div>
    </div>
  </section>
  
</body>
</html>