<!DOCTYPE html>
<head>

    <title>Killa Meter Klothes</title>

<!--Style Sheets-->

    <link rel="stylesheet" href="/stylesheets/globals.css">
    <link rel="stylesheet" href="/stylesheets/Collections.css">


</head>

<body>

  
    <div class="about" id="about">
        <div class="about_container">
            <div class="about_img_container">
                <div class="about_img_crd"><p class="img_center"><img src="/style/photos/Frame 3.png" width="auto" height="410px"></p></div>
            </div>
        <div class="about_content">
            <h1 class="about_heading">About Me</h1> 
            <p class="about_description">Engineer and entrepreneur Ron Gray studying accounting at California Baptist University while also pursuing IT certifications and learning website development.
  
              I am a self-driven entrepreneur currently studying accounting at California Baptist University. In addition to my academic pursuits, I am also a passionate learner of Information Technology, with a focus on obtaining certifications such as my CCNA.
              
              I believe that in today's fast-paced and ever-changing world, it is essential to be knowledgeable about both business and technology. That's why I'm dedicated to mastering a wide range of skills that will help me succeed in the business world.
              
              In my free time, I'm also teaching myself how to develop the front and back ends of websites. I find website development to be an exciting and challenging field, and I'm always looking for new ways to expand my knowledge and expertise.
              
              As a self-driven entrepreneur, I am constantly seeking new challenges and opportunities to learn and grow. I believe that through hard work, dedication, and a willingness to take risks, anything is possible.</p>
            </div>
            
            <div class="about_content">
              <h1 class="about_heading">Five Year Plan</h1> 
              <p class="about_description">Once I graduate I plan on obtaining a position using my ccna as a network administator or network engineer. As I become more familiar with the Information Technology Industry I will then look to obtain my cloud plus and secuirty plus certification from Comptia in effort to become a cloud engineer. Finally I would like to obtain my Linux plus cert since it's highly valued skill to obtain in information technology.</p>
              <form method="get" action="/Ron Gray Resume Website Developer 2022.docx">
              <button class="main_btn">My Resume</button>
            </form>
            </div>
  
            <div class="about_img_container">
              <div class="about_img_crd"><p class="img_center"><img alt="" src="/style/photos/morehouse logo.png" width="auto" height="310px"></p></div>
            </div>
  
        </div>
    </div>
            
    </div>
    </div>
  </div>

</body>
</html>