<!DOCTYPE html>
<head>

    <title>Killa Meter Klothes</title>

<!--Style Sheets-->

<link rel="stylesheet" href="/stylesheets/News_letter.css">


</head>

<body>
<div class="newsletter">
    <ul class="newsgrid">
      <li>
  <h2 class="nl_title" style="text-align: center;">Subscribe to our news letter</h2>
      </li>
      <li>
        <div class="input_container">
          <input type="email" name="email" class="input" />
          <label for=""></label>
          <span>Email</span>
      </div>
      </li>
      <li>
        <h2 class="nl_title" style="text-align: center;"> Follow us on...</h2>
      </li>
      <li>
        <p class="nl_txt"style="text-align: center;">Sign up for notifations about special offers and events.</p>
      </li>
      <li>
        <button class="btn btn-lg btn-primary btn-block" style="align-self: center; justify-self: center;"type="submit">Sign me up!</button>
      </li>
      <li>
        <div class="social_icons">
          <a href="https://www.instagram.com/gr4yj4y4/">
             <img src="/Images/Instagram.png" target="_blank" height="35px" width="auto">
          </a>
          <a href="https://twitter.com/Gr4yJ4y">
            <img src="/Images/Twitter.png" target="_blank" height="35px" width="auto">
          </a>
          <a href="">
            <img src="/Images/Pinterest.png" target="_blank" height="35px" width="auto">
          </a>
      </div>
      </li>
    </ul>
  </div>

  
</body>
</html>